.list-book {
    margin: 5% 5% 0 8%;
}

.book {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.book h3 {
    margin-top: -1px;
}

.book #price {
    font-size: 22px;
    color: darkolivegreen;
}

.image-book {
    width: 263px;
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
}

/*.filter{*/
/*height: 50px;*/
/*}*/

.form-control {
    display: inline;
    width: 200px;
}


#btn-filter{
    margin-bottom: 3px;
}

.breadcrumb button {
    margin-left: 10px;
}

#fos-user-content{
    margin:5% 0 0 5%;
}

#fos-user-content input[type="text"],input[type="password"],input[type="email"]{
    display: block;
    width: 40%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#fos-user-content input[type="submit"]{
    display: block;
}

